@using PlatinumCityManagement.Client.Components
@page "/movies/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>Now Showing</h3>
<FormComponent movie="movie" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Movie? movie = new Movie();
	protected async override Task OnParametersSetAsync()
	{
		movie = await _client.GetFromJsonAsync<Movie>($"{Endpoints.MoviesEndpoint}/{id}");
	}
}