@page "/cinemaBranches/{cinemaBranchId:int}/halls/edit/{hallId:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Hall</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditHall" hall="hall" />

@code {
	[Parameter] public int hallId { get; set; }
	[Parameter] public int cinemaBranchId { get; set; }
	Hall? hall = new Hall();
	protected async override Task OnInitializedAsync()
	{
		hall = await _client.GetFromJsonAsync<Hall>($"{Endpoints.HallsEndpoint}/{hallId}");
	}

	private async Task EditHall()
	{
		await _client.PutAsJsonAsync($"{Endpoints.HallsEndpoint}/{hallId}", hall);
		_navManager.NavigateTo("/cinemaBranches/{cinemaBranchId:int}/halls/");
	}
}
