@page "/halls/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent hall="hall" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Hall? hall = new Hall();
	protected async override Task OnParametersSetAsync()
	{
		hall = await
		_client.GetFromJsonAsync<Hall>($"{Endpoints.HallsEndpoint}/{id}");
	}
}
