.page {
    display: flex;
    flex-direction: column; 
    background-image: url('https://onecms-res.cloudinary.com/image/upload/s--ZuzK41fi--/f_auto,q_auto/c_fill,g_auto,h_622,w_830/v1/tdy-migration/12552962-generic-cinema-hall-pic_0.jpg?itok=BAPOrsfU');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* makes .page at least as tall as the viewport. */
    color: white;
}




