<nav class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img class="ogo" src="https://www.creativefabrica.com/wp-content/uploads/2019/03/Monogram-PC-Logo-Design-by-Greenlines-Studios-580x386.jpg" alt="logo">
        <a class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </a>
        <a class="nav-item nav-link" href="movies">
            Movies
        </a>
        <a class="nav-item nav-link" href="staffs">
            Staffs
        </a>
        <a class="nav-item nav-link" href="checkbooking">
            Book Now
        </a>
        <a class="nav-item nav-link" href="contactus">
            Contact Us
        </a>
        <div class="auth-links">
            <LoginDisplay />
        </div>
    </div>
</nav>