
img.ogo {
    max-width: 50px; /*width limited to 50px*/
    height: auto; 
    width: auto; 
}
.top-row {
    background: linear-gradient(to right, #000000, #595959);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

NavLink.nav-link {
    color: #ffffff; /*text color to white */
}

@media (min-width: 641px) {
    .top-row {
        justify-content: space-evenly;
    }

        .top-row a,
        .top-row .btn-link {
            margin: 0;
            color: inherit; /*links and buttons inherit the white color */
        }
}
