
img.ogo {
    max-width: 50px; /*width limited to 50px*/
    height: auto;
    width: auto;
}

.top-row {
    background: linear-gradient(to right, #000000, #595959);
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: white;
}

.auth-links {
    color: white;
}

@media (min-width: 641px) {
    .top-row {
        justify-content: space-evenly;
    }

        .top-row a,
        .top-row .btn-link {
            margin: 0;
        }
}