@using PlatinumCityManagement.Client.Components
@page "/customers/bookings/create/" 
@inject HttpClient _client 
@inject NavigationManager _navManager

<h3 class="card-title">Create New Booking</h3>
<hr />
<br />

<FormComponentCustomer ButtonText="Create Booking" OnValidSubmit="CreateBooking" booking="booking" />


@code {
    Booking booking = new Booking();

    private IList<Staff>? Staffs;
    private IList<Customer>? Customers;
    private IList<Screening>? Screenings;
    private IList<Seat>? Seats;


    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        Screenings = await _client.GetFromJsonAsync<List<Screening>>($"{Endpoints.ScreeningsEndpoint}");
        Seats = await _client.GetFromJsonAsync<List<Seat>>($"{Endpoints.SeatsEndpoint}");

    }

    private async Task CreateBooking()
    {
        booking.StaffId = 1;
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/customers/bookings/");
    }

}
