@page "/cinemaBranches/{cinemaBranchId:int}/halls/{hallId:int}/screenings/{screeningId:int}/seats/edit/{seatId:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Seat</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditSeat" seat="seat" />

@code {
	[Parameter] public int cinemaBranchId { get; set; }
	[Parameter] public int hallId { get; set; }
	[Parameter] public int screeningId { get; set; }
	[Parameter] public int seatId { get; set; }
	Seat? seat = new Seat();
	protected async override Task OnInitializedAsync()
	{
		seat = await _client.GetFromJsonAsync<Seat>($"{Endpoints.SeatsEndpoint}/{seatId}");
	}

	private async Task EditSeat()
	{
		await _client.PutAsJsonAsync($"{Endpoints.SeatsEndpoint}/{seatId}", seat);
		_navManager.NavigateTo("/seats/");
	}
}
