@page "/cinemaBranches/{cinemaBranchId:int}/halls/{hallId:int}/screenings/edit/{screeningId:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Screening</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditScreening" screening="screening" />

@code {
	[Parameter] public int cinemaBranchId { get; set; }
	[Parameter] public int hallId { get; set; }
	[Parameter] public int screeningId { get; set; }
	Screening? screening = new Screening();
	protected async override Task OnInitializedAsync()
	{
		screening = await _client.GetFromJsonAsync<Screening>($"{Endpoints.ScreeningsEndpoint}/{screeningId}");
	}

	private async Task EditScreening()
	{
		await _client.PutAsJsonAsync($"{Endpoints.ScreeningsEndpoint}/{screeningId}", screening);
		_navManager.NavigateTo("/screenings/");
	}
}
