@page "/screenings/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Screenings</h3>

@if (Screenings == null)
{
	<div class="alert alert-info">Loading Screenings...</div>
}
else
{
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var screening in Screenings)
			{
				<tr>
					<td>@screening.Price</td>
					<td>
						<a href="/makes/view/@screening.Id" class="btn btn-primary">
							<span class="oi oi-book"></span>
						</a>
						<a href="/makes/edit/@screening.Id" class="btn btn-warning">
							<span class="oi oi-pencil"></span>
						</a>
						<button class="btn btn-danger" @onclick="@(()=>Delete(screening.Id))">
							<span class="oi oi-delete"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code{
	private List<Screening>? Screenings;

	protected async override Task OnInitializedAsync()
	{
		Screenings = await _client.GetFromJsonAsync<List<Screening>>($"{Endpoints.ScreeningsEndpoint}");
	}

	async Task Delete(int screeningId)
	{
		if(Screenings != null)
		{
			var screening = Screenings.First(q => q.Id == screeningId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete{screening.Price}?");
			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.ScreeningsEndpoint}/{screeningId}");
				await OnInitializedAsync();
			}
		}
	}
}