@page "/"
<div class="content">
    <p>Now Showing</p>
    <div class="image-container">
        <figure class="image-figure">
            <img src="https://i.ebayimg.com/images/g/lzMAAOSwDMRkxPxb/s-l1600.jpg" alt="Barbie" class="image">
            <figcaption>Barbie</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://m.media-amazon.com/images/I/71G+eeynPoL._AC_SX679_.jpg" alt="Train To Busan" class="image">
            <figcaption>Train To Busan</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://pbs.twimg.com/media/F9neUdbbsAAGEz3?format=jpg&name=medium" alt="Meow" class="image">
            <figcaption>The Marvels</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://i.ebayimg.com/images/g/BSgAAOSwnONZBnuN/s-l500.jpg" alt="Nemo" class="image">
            <figcaption>Nemo</figcaption>
        </figure>
    </div>
</div>

<div class="content">
    <p>Coming Soon</p>
    <div class="image-container">
        <figure class="image-figure">
            <img src="https://myhotposters.com/cdn/shop/products/mL3100_1024x1024.jpg?v=1571445679" alt="Godzilla" class="image">
            <figcaption>Godzilla</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://i.ebayimg.com/images/g/Gv8AAOSwyLRk6vKS/s-l1600.jpg" alt="Deadpool 3" class="image">
            <figcaption>Deadpool 3</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://i.etsystatic.com/35330351/r/il/bfc535/3947604343/il_fullxfull.3947604343_3sgh.jpg" alt="Blade" class="image">
            <figcaption>Blade</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="https://i.ebayimg.com/images/g/fXsAAOSwo-1lQbM5/s-l500.jpg" alt="Wonka" class="image">
            <figcaption>Wonka</figcaption>
        </figure>
    </div>
</div>
