@page "/"
<div class="content">
    <p>Now Showing</p>
    <div class="image-container">
        <figure class="image-figure">
            <img src="/posters/barbie.jpg" alt="Barbie" class="image">
            <figcaption>Barbie</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/traintobusan.jpg" alt="Train To Busan" class="image">
            <figcaption>Train To Busan</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/marvels.jpeg" alt="Meow" class="image">
            <figcaption>The Marvels</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/nemo.jpg" alt="Nemo" class="image">
            <figcaption>Nemo</figcaption>
        </figure>
    </div>
</div>

<div class="content">
    <div class="image-container">
        <figure class="image-figure">
            <img src="/posters/godzillaa.jpg" alt="Godzilla" class="image">
            <figcaption>Godzilla</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/deadpool.jpg" alt="Deadpool 3" class="image">
            <figcaption>Deadpool 3</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/blade3.jpg" alt="Blade" class="image">
            <figcaption>Blade</figcaption>
        </figure>
        <figure class="image-figure">
            <img src="/posters/wonka.jpg" alt="Wonka" class="image">
            <figcaption>Wonka</figcaption>
        </figure>
    </div>
</div>
